@import 'tailwindcss';

h1 {
    color: limegreen;
    width: 14px;
    background-color: aliceblue;
    padding: 14px;
    margin: auto;
}

.header {
    background-color: #222;
    color: white;
    padding: 20px;
    text-align: center;
}